<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Extension Configuration</title>
</head>

<body>
  <form>
    <label>
      <span>Hotjar ID</span>
      <input id="hjid">
    </label>
  </form>

  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script>
    window.extensionBridge.register({
      init: function (info) {
        if (info.settings) {
          // TODO Populate form values from persisted settings.
          document.getElementById('hjid').value = (info.settings.hjid) || '';
        }
      },

      getSettings: function () {
        // TODO Return settings object from form values.
        return {
          hjid: Number(document.getElementById('hjid').value)
        };
      },

      validate: function () {
        // TODO Return whether settings are valid.
        var hjidField = document.getElementById('hjid');
        var hjid = Number(hjidField.value);
        hjidField.invalid = isNaN(hjid) || hjid < 1;
        return !hjidField.invalid;
      }
    });
  </script>
</body>

</html>
